{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}

    <div class="home">
        <div class="banner" >
            <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
            <div class="container fill_height">
                <div class="row fill_height">
                    <div class="banner_product_image"><img src="images/senior.jpg" alt=""></div>
                    <div class="col-lg-5 offset-lg-4 fill_height">
                        <div class="banner_content" >
                            <h1 class="banner_text" style="margin-top: -450px;color:#00475b;">Trouver un services à la personne!</h1>
                            {#<h2 align="center" id="visitorCount">{{ visitorCount }}</h2>
                            <p align="center">person(s) currently viewing this page</p>
#}
                            <div class="button banner_button" style="margin-top: 10px;margin-left: 170px;"><a href="{{ path("prestatair.dashboard") }}">mon espace pro</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts d-flex flex-row align-items-start justify-content-between">

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url(images/blog_4.jpg)"></div>
                            <div class="blog_text">Etiam leo nibh, consectetur nec orci et, tempus tempus ex</div>
                            <div class="blog_button"><a href="blog_single.html">Continue Reading</a></div>
                        </div>

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url(images/blog_5.jpg)"></div>
                            <div class="blog_text">Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor</div>
                            <div class="blog_button"><a href="blog_single.html">Continue Reading</a></div>
                        </div>

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url(images/blog_6.jpg)"></div>
                            <div class="blog_text">In nisl tortor, tempus nec ex vitae, bibendum rutrum mi. Integer tempus nisi</div>
                            <div class="blog_button"><a href="blog_single.html">Continue Reading</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brands">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="brands_slider_container">

                        <!-- Brands Slider -->

                        <div class="owl-carousel owl-theme brands_slider">

                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_1.jpg" alt=""></div></div>
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_2.jpg" alt=""></div></div>
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_3.jpg" alt=""></div></div>
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_4.jpg" alt=""></div></div>
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_5.jpg" alt=""></div></div>
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_6.jpg" alt=""></div></div>
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_7.jpg" alt=""></div></div>
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="images/brands_8.jpg" alt=""></div></div>

                        </div>

                        <!-- Brands Slider Navigation -->
                        <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
       {# <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
        <script>

            let pusher = new Pusher("{{ pusherKey }}", {
                cluster: "{{ pusherCluster }}",
            });
            let channelName = Date.now() + Math.random().toString(36).replace(/\W+/g, '');
            pusher.subscribe(channelName);
            pusher.subscribe("visitor-updates")
                .bind('update', function (data) {
                    console.log(data)
                    let newCount = data.newCount;
                    document.getElementById('visitorCount').textContent = newCount;
                });
        </script>#}
    {% endblock %}

{% endblock %}
