{% extends 'baseAdmin.html.twig' %}
{% form_theme UserformType'bootstrap_4_layout.html.twig' %}
{% block body %}

    <div class="container-fluid mt-4">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">Attribution roles</h1>
        </div>
        {{ form_start(UserformType ) }}

        <div class="row" style="max-width: 80vw;margin-left: 150px">
            <div class="col-md-3">




                {{ form_row(UserformType.roles, {'attr': {'placeholder' :"roles"}}) }}


            </div>

        </div>





        <button  style=" width:190px;margin-left: 550px;margin-top: 50px;margin-bottom: 50px" class="btn btn-success" type="submit">
            valider
        </button>
        {{ form_end(UserformType ) }}

    </div>
{% endblock %}