{# templates/emails/confirmeReservation.html.twig #}
<h3> Confirmation ! </h3>

Bonjour {{ user.user }} ! Votre reservation est confirmée.<br>
Merci de nous faire confiance !

Bien à vous!


<img src= " {{ absolute_url ( asset ( 'images/logo.png' )) }} " >